# toolchain output
omelette
omuLADSPA
omelette-ladspa-plugins.so
valgrind.log
gmon.out
log

# test mod files, some contain dmca-able samples so excluded
testmods
*.omlm # old extension
*.egg

# files omelette spits out for debugging
.oml_savedump
.oml_channeldump
.oml_eventdump
