# compiler/similar output
omelette
valgrind.log
gmon.out

# test mod files, some contain dmca-able samples (direct spotify recordings) so excluded
testmods
*.omlm
*.egg

# files omelette spits out for debugging
.save_debug
